openapi: 3.0.3
info:
  title: Своё Шеф — Дашборд сезонности API
  version: 1.0.0
  description: API для дашборда сезонности ресторанов на платформе svoe-shef.ru

servers:
  - url: https://api.svoe-shef.ru/v1
    description: Production
  - url: https://api-dev.svoe-shef.ru/v1
    description: Development

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    Product:
      type: object
      required: [id, name, category, season, seasonality_status]
      properties:
        id:
          type: string
          example: "prod_123"
        name:
          type: string
          example: "Белый гриб"
        category:
          type: string
          enum: [vegetables, fruits, berries, mushrooms, meat, fish, dairy, herbs, grains, honey]
        subcategory:
          type: string
          example: "forest_mushrooms"
        images:
          type: array
          items:
            type: string
            format: uri
        season:
          type: object
          required: [start_month, end_month, is_year_round]
          properties:
            start_month:
              type: integer
              minimum: 1
              maximum: 12
            end_month:
              type: integer
              minimum: 1
              maximum: 12
            is_year_round:
              type: boolean
        seasonality_status:
          type: string
          enum: [IN_SEASON, ENDING_SOON, STARTING_SOON, OUT_OF_SEASON]
        badges:
          type: array
          items:
            type: string
            enum: [rare, premium]
        farmer:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            region: { type: string }
            profile_url: { type: string, format: uri }
        price_per_kg:
          type: number
          example: 850
        compatible_cuisines:
          type: array
          items: { type: string }
        description:
          type: string
        source_url:
          type: string
          format: uri

    Menu:
      type: object
      required: [restaurant_id, cuisine_type, dishes]
      properties:
        id:
          type: string
          example: "menu_001"
        restaurant_id:
          type: string
          example: "rest_789"
        cuisine_type:
          type: string
          example: "russian"
        cuisine_confidence:
          type: number
          minimum: 0
          maximum: 1
          example: 0.92
        dishes:
          type: array
          items:
            type: object
            required: [id, name]
            properties:
              id:
                type: string
              name:
                type: string
              category:
                type: string
              ingredients_hints:
                type: array
                items: { type: string }
        uploaded_at:
          type: string
          format: date-time

    Restaurant:
      type: object
      required: [id, name, owner_user_id]
      properties:
        id:
          type: string
          example: "rest_789"
        name:
          type: string
          example: "Берёзка"
        owner_user_id:
          type: string
        cuisine_type_id:
          type: integer
        cuisine_type_name:
          type: string
          example: "Русская кухня"
        cuisine_confidence:
          type: number
          minimum: 0
          maximum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RestaurantUpdate:
      type: object
      properties:
        name:
          type: string
          example: "Берёзка"
        cuisine_type_id:
          type: integer
          example: 3

    SeasonalityTimeline:
      type: object
      required: [current_month, current_season, months]
      properties:
        current_month:
          type: integer
          minimum: 1
          maximum: 12
          example: 5
        current_season:
          type: string
          enum: [spring, summer, autumn, winter]
          example: "spring"
        restaurant_cuisine_type:
          type: string
          example: "russian"
        months:
          type: array
          items:
            type: object
            required: [month, month_name, products]
            properties:
              month:
                type: integer
                minimum: 1
                maximum: 12
              month_name:
                type: string
                example: "Май"
              products:
                type: array
                items:
                  type: object
                  required: [product_id, name, status]
                  properties:
                    product_id:
                      type: string
                    name:
                      type: string
                    category:
                      type: string
                    status:
                      type: string
                      enum: [IN_SEASON, ENDING_SOON, STARTING_SOON, OUT_OF_SEASON]
                    badges:
                      type: array
                      items:
                        type: string
                        enum: [rare, premium]

    Recommendation:
      type: object
      properties:
        product_id: { type: string }
        product_name: { type: string }
        seasonality_status:
          type: string
          enum: [IN_SEASON, ENDING_SOON, STARTING_SOON, OUT_OF_SEASON]
        ai_explanation: { type: string }
        menu_matches:
          type: array
          items:
            type: object
            properties:
              dish_id: { type: string }
              dish_name: { type: string }
              match_reason: { type: string }
        generated_at:
          type: string
          format: date-time

    CartItem:
      type: object
      required: [product_id, quantity_kg]
      properties:
        id: { type: string }
        product_id: { type: string }
        product_name: { type: string }
        farmer_id: { type: string }
        farmer_name: { type: string }
        quantity_kg:
          type: number
          minimum: 0.1
        price_per_kg:
          type: number
        total_price:
          type: number

    Cart:
      type: object
      properties:
        id: { type: string }
        restaurant_id: { type: string }
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        total_price: { type: number }
        items_count: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Order:
      type: object
      properties:
        id: { type: string }
        restaurant_id: { type: string }
        status:
          type: string
          enum: [pending, confirmed, delivered, cancelled]
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        total_price: { type: number }
        delivery_address: { type: string }
        comment: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

paths:

  /restaurant:
    get:
      summary: Получить профиль ресторана
      tags: [Restaurant]
      responses:
        "200":
          description: Профиль ресторана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
    patch:
      summary: Обновить профиль ресторана
      tags: [Restaurant]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantUpdate'
      responses:
        "200":
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        "422":
          description: Ошибка валидации

  /menu/upload:
    post:
      summary: Загрузка PDF-меню
      tags: [Menu]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Меню обработано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Menu'
        "422":
          description: Не удалось распознать текст

  /menu/parse-text:
    post:
      summary: Парсинг меню из текста
      tags: [Menu]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
      responses:
        "200":
          description: Меню обработано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Menu'

  /cuisine-types:
    get:
      summary: Справочник типов кухонь
      tags: [Reference]
      responses:
        "200":
          description: Список типов кухонь
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    name_ru: { type: string }
                    name_en: { type: string }

  /restaurant/cuisine:
    put:
      summary: Установить тип кухни ресторана
      tags: [Restaurant]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cuisine_type_id]
              properties:
                cuisine_type_id:
                  type: integer
      responses:
        "200":
          description: Тип кухни обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'

  /seasonality/timeline:
    get:
      summary: Получить тайм-лайн сезонности
      tags: [Seasonality]
      parameters:
        - name: months
          in: query
          schema: { type: integer, default: 3, minimum: 1, maximum: 6 }
        - name: cuisine_type
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Тайм-лайн сезонности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonalityTimeline'

  /products:
    get:
      summary: Список продуктов с фильтрацией
      tags: [Products]
      parameters:
        - name: category
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: string
            enum: [IN_SEASON, ENDING_SOON, STARTING_SOON]
        - name: type
          in: query
          schema:
            type: string
            enum: [rare, premium]
        - name: region
          in: query
          schema: { type: string }
        - name: cuisine
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema:
            type: string
            enum: [season_status, category, name, price]
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Список продуктов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Product' }
                  total: { type: integer }
                  page: { type: integer }

  /products/{productId}:
    get:
      summary: Детальная карточка продукта
      tags: [Products]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Карточка продукта
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        "404":
          description: Продукт не найден

  /products/{productId}/menu-matches:
    get:
      summary: Блюда из меню, подходящие для продукта
      tags: [Products]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Список блюд
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    dish_id: { type: string }
                    dish_name: { type: string }
                    match_reason: { type: string }

  /products/{productId}/farmer-link:
    get:
      summary: Получить ссылку на карточку фермера на svoe-rodnoe.ru
      tags: [Products]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: URL фермера
          content:
            application/json:
              schema:
                type: object
                properties:
                  farmer_url:
                    type: string
                    format: uri

  /ai/explain-compatibility:
    post:
      summary: Генерация AI-объяснения совместимости продукта с кухней
      tags: [AI]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, cuisine_type]
              properties:
                product_id: { type: string }
                cuisine_type: { type: string }
      responses:
        "200":
          description: Объяснение совместимости
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Recommendation' }
        "429":
          description: Превышен лимит запросов (60/мин)

  /recommendations:
    get:
      summary: Топ-N рекомендаций для шефа
      tags: [Recommendations]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 5, maximum: 20 }
      responses:
        "200":
          description: Список рекомендаций
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Recommendation' }

  /cart:
    get:
      summary: Получить текущую корзину
      tags: [Cart]
      responses:
        "200":
          description: Текущая корзина
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }

  /cart/items:
    post:
      summary: Добавить продукт в корзину
      tags: [Cart]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, quantity_kg]
              properties:
                product_id: { type: string }
                quantity_kg:
                  type: number
                  minimum: 0.1
      responses:
        "201":
          description: Продукт добавлен
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }

  /cart/items/{itemId}:
    patch:
      summary: Изменить количество позиции
      tags: [Cart]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity_kg]
              properties:
                quantity_kg:
                  type: number
                  minimum: 0.1
      responses:
        "200":
          description: Корзина обновлена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }
    delete:
      summary: Удалить позицию из корзины
      tags: [Cart]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Позиция удалена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }

  /orders:
    post:
      summary: Создать заказ из корзины
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_address: { type: string }
                comment: { type: string }
      responses:
        "201":
          description: Заказ создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        "400":
          description: Корзина пуста
    get:
      summary: История заказов ресторана
      tags: [Orders]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Order' }
                  total: { type: integer }

  /orders/{orderId}:
    get:
      summary: Получить заказ по ID
      tags: [Orders]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Детали заказа
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        "404":
          description: Заказ не найден
